@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #171717;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background-color: rgb(23 23 23);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(157 23 77 / 0.8);
}
